// Register block styles

.wp-block-table.is-style-wmi-no-outer-border {
	table {
		border: none;
	}
	td {
		border-style: solid !important;
		border-width: 1px !important;
	}
	tr {
		&:first-child {
			td {
				border-top: none !important;
			}
		}
		&:last-child {
			td {
				border-bottom: none !important;
			}
		}
		td {
			&:first-child {
				border-left: none !important;
			}
			&:last-child {
				border-right: none !important;
			}
		}
	}
}

ul.is-style-wmi-has-emoji {
	padding-left: 0;
	display: grid;
	gap: 10px;
	li {
		display: flex;
		gap: 5px;

		&::before {
			content: "🧑🏻‍💻";
		}
	}
}

.is-style-wmi-has-bracket.wp-block-post-date {
	time {
		&:before {
			content: "[ ";
		}
		&:after {
			content: " ]";
		}
	}
}

/* 
======= LIGHT =
primary
    hsl(216 81% 45% / 1)

body - background, text
    background-color: hsl(0deg 0% 100%);
    color: hsl(0deg 0% 10.2%);

heading
    hsl(0deg 0% 10.2%)

border - img, table 
    hsl(0 0% 95% / 1)




======== DARK =
primary
    hsl(193 87% 56% / 1)

body - background, text
    background-color: hsl(215 47% 7% / 1);
    color: rgb(255 255 255 / 80%);

heading
    hsl(0deg 0% 100% / 90%)

border - img, table 
    hsl(0deg 0% 30% / 20%)

*/
