:where(.wp-site-blocks) > *,
:where(body .is-layout-flow) > *,
:where(body .is-layout-constrained) > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
:where(.wp-block-columns) {
	margin-bottom: 0;
}

@include breakpoint-max(782) {
	.wp-block-group[class*="wp-container-"] > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		max-width: initial;
	}
}

@mixin nestedAnchorColor {
	a {
		color: inherit;
		&:is(:hover, :focus) {
			color: var(--wp--preset--color--wmi-primary);
		}
	}
}

// HOME - Main Wrapper
main.main-wrapper {
	h1.wp-block-heading {
		@include nestedAnchorColor;
	}

	.wp-block-spacer[style="height:_px"] {
		height: 30px !important;
	}

	.wp-block-group {
		@include breakpoint-max(782) {
			max-width: 100%;
		}
	}

	.wp-block-separator {
		border-top: none;
	}

	.wp-block-post-date {
		time {
			&:before {
				content: "[ ";
			}
			&:after {
				content: " ]";
			}
		}
	}

	.wp-block-site-logo {
		img {
			border: 3px solid var(--wp--preset--color--wmi-border);
		}
	}

	ul.wp-block-social-links {
		@include breakpoint-max(782) {
			gap: 20px;
		}
	}
}

.wp-block-social-link {
	&:is(:hover, :focus) {
		color: var(--wp--preset--color--wmi-primary) !important;
	}
}

.wp-block-post-title {
	@include nestedAnchorColor;
}

// HEADING - Emoji Inline Code
.wp-block-heading.has-emoji-code {
	display: flex;
	gap: 6px;
	align-items: center;
	&.has-text-align-right {
		justify-content: flex-end;
	}

	code {
		font-size: 0.8em;
		margin-top: 2px;
	}
}

// HEADER
header.wp-block-template-part {
	.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
		background-color: var(--wp--preset--color--wmi-body-bg);
		color: var(--wp--preset--color--wmi-body-text);
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		.wp-block-navigation__responsive-container-content,
		.wp-block-navigation__container {
			align-items: center;
		}
	}
	a,
	a.wp-block-navigation-item__content {
		text-decoration: none;
		&:is(:hover, :focus) {
			color: var(--wp--preset--color--wmi-primary);
		}
	}

	.wp-block-site-logo {
		img {
			width: 40px;
			@include breakpoint-min(992) {
				width: auto;
			}
		}
	}

	ul.wp-block-social-links {
		&.hide-on-desktop {
			display: flex;
			@include breakpoint-min(600) {
				display: none;
			}
		}

		&.hide-on-mobile {
			display: none;
			@include breakpoint-min(600) {
				display: flex;
			}
		}
	}
}

// FOOTER
footer.wp-block-template-part .emoji {
	font-size: 0.75em;
	color: transparent;
	text-shadow: 0 0 0 var(--wp--preset--color--wmi-primary);
	opacity: 0.85;
}

// SINGLE POSTS
.wp-block-post-content {
	&.alignfull {
		padding-left: var(--wp--style--root--padding-left, 15px);
		padding-right: var(--wp--style--root--padding-right, 15px);
	}

	> * {
		margin-bottom: 20px;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		margin-bottom: 20px;
	}

	:is(> ul, > ol, > figure, > p) {
		margin-bottom: 30px;
	}

	figure.wp-block-image {
		img {
			border-radius: 5px;
		}
	}

	:is(ol, ul) {
		padding-left: 20px;
	}

	table {
		border-collapse: collapse;
		width: 100%;

		thead,
		tbody,
		tfoot {
			th,
			td {
				border-bottom: 1px solid;
				border-color: var(--wp--preset--color--wmi-border);
				padding: 1rem;
				text-align: left;
			}
		}

		thead th {
			padding-top: 0;
		}
	}

	:not(pre) {
		code {
			color: var(--wp--preset--color--wmi-primary);
			background: hsla(0deg, 0%, 100%, 0.03);
			border-radius: 2px;
			padding-inline: 4px;
			margin-inline: -2px;
		}
	}

	pre.wp-block-code {
		&[class*="language-"] {
			margin-bottom: 30px;
			font-size: 0.88em;
			background: hsl(215 47% 7.5% / 1);
		}
	}
}

// NEXT-PREV POSTS
.wp-block-group.post-hint-prev-next {
	@include breakpoint-max(781) {
		&.is-content-justification-space-between.is-nowrap {
			flex-direction: column;
		}
	}
}

// OTHER POSTS
aside.wp-block-group {
	.wp-block-query .wp-block-post-title a {
		color: var(--wp--preset--color--wmi-primary);
	}
}

@include breakpoint-max(782) {
	.wp-block-column figure.alignright {
		float: unset;
		margin-inline: 0;
	}
}

nav.wp-block-query-pagination {
	> * {
		margin-bottom: 0 !important;
	}

	.wp-block-query-pagination-numbers {
		display: flex;
		gap: 5px;
		margin-right: 0 !important;

		> * {
			padding-inline: 5px;
		}
	}
}
