// Base styles
:is(*, *::before, *::after) {
	box-sizing: border-box;
	//box-shadow: 0 0 0 1px rgb(255 0 0 / 5%); // layout debug
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

:is(figure, img) {
	max-width: 100%;
}

:is(h1, h2, h3, h4, h5, h6, p) {
	margin-block: 0;
}

:is(:focus-visible) {
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 2px;
	outline-color: var(--wp--preset--color--wmi-primary, #2196f3);
}

button,
input,
textarea {
	border-radius: 4px;
}

input:not([type="button"], [type="reset"], [type="submit"]),
textarea {
	background: transparent;
	color: var(--wp--preset--color--wmi-body-text);

	&:focus-visible {
		outline-offset: 0;
		border-color: transparent;
	}
}

// Main styles
@import "../css/normalize.css";
@import "./breakpoints";
@import "./style";
