<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"5px"}}},"layout":{"type":"constrained","contentSize":"720px","wideSize":"960px"}} -->
<main class="wp-block-group alignwide" style="margin-top: 5px">
	<!-- wp:spacer {"height":"60px"} -->
	<div style="height: 60px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"300px","fontStyle":"normal","fontWeight":"100","textTransform":"uppercase","letterSpacing":"-10px","lineHeight":"1"}}} -->
	<h1
		class="wp-block-heading has-text-align-center"
		style="
			font-size: 300px;
			font-style: normal;
			font-weight: 100;
			letter-spacing: -10px;
			line-height: 1;
			text-transform: uppercase;
		"
	>
		404
	</h1>
	<!-- /wp:heading -->

	<!-- wp:spacer {"height":"50px"} -->
	<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:paragraph {"align":"center","fontSize":"2xl"} -->
	<p class="has-text-align-center has-2-xl-font-size">This page is not be found. Try searching instead?</p>
	<!-- /wp:paragraph -->

	<!-- wp:spacer {"height":"20px"} -->
	<div style="height: 20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:search {"showLabel":false,"buttonUseIcon":true} /-->

	<!-- wp:spacer {"height":"80px"} -->
	<div style="height: 80px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
