<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"5px"}}},"layout":{"type":"constrained","contentSize":"50%"}} -->
<div class="wp-block-group alignwide" style="margin-top: 5px">
	<!-- wp:spacer {"height":"50px"} -->
	<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"typography":{"fontSize":"300px","fontStyle":"normal","fontWeight":"200","textTransform":"uppercase","letterSpacing":"-10px","lineHeight":"1"}}} -->
	<h1
		class="wp-block-heading alignwide has-text-align-center"
		style="
			font-size: 300px;
			font-style: normal;
			font-weight: 200;
			letter-spacing: -10px;
			line-height: 1;
			text-transform: uppercase;
		"
	>
		404
	</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">This page is not be found. Try searching instead?</p>
	<!-- /wp:paragraph -->

	<!-- wp:spacer {"height":"20px"} -->
	<div style="height: 20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:search {"showLabel":false,"buttonUseIcon":true} /-->

	<!-- wp:spacer {"height":"50px"} -->
	<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
