<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","layout":{"type":"constrained","contentSize":"60%","wideSize":"100%"}} -->
<main class="wp-block-group alignwide">
	<!-- wp:query-title {"type":"archive","textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

	<!-- wp:spacer {"height":"50px"} -->
	<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","layout":{"type":"constrained"}} -->
	<main class="wp-block-query">
		<!-- wp:post-template {"layout":{"type":"default"}} -->
		<!-- wp:group -->
		<div class="wp-block-group">
			<!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"30px"}}}} -->
			<div class="wp-block-columns">
				<!-- wp:column {"width":"25%"} -->
				<div class="wp-block-column" style="flex-basis: 25%">
					<!-- wp:post-date {"textAlign":"right","textColor":"wmi-heading","className":"is-style-wmi-has-bracket"} /-->
				</div>
				<!-- /wp:column -->

				<!-- wp:column {"width":""} -->
				<div class="wp-block-column">
					<!-- wp:post-title {"isLink":true} /-->

					<!-- wp:spacer {"height":"10px"} -->
					<div style="height: 10px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->

					<!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"textColor":"wmi-body-text","layout":{"type":"flex"}} -->
					<div class="wp-block-group has-wmi-body-text-color has-text-color" style="font-size: 14px">
						<!-- wp:post-terms {"term":"category"} /-->

						<!-- wp:post-terms {"term":"post_tag"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:spacer {"height":"20px"} -->
					<div style="height: 20px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->

					<!-- wp:post-excerpt {"excerptLength":25} /-->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:columns -->

			<!-- wp:spacer {"height":"40px"} -->
			<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
		<!-- /wp:post-template -->

		<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->
		</div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
