<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"article","layout":{"type":"constrained","contentSize":"60%"}} -->
<article class="wp-block-group">
	<!-- wp:post-title {"isLink":true} /-->

	<!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"textColor":"wmi-body-text","layout":{"type":"flex"}} -->
	<div class="wp-block-group has-wmi-body-text-color has-text-color" style="font-size: 14px">
		<!-- wp:post-terms {"term":"category"} /-->

		<!-- wp:post-terms {"term":"post_tag"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"40px"} -->
	<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"100px","bottom":"50px"}}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:spacer -->
	<div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-terms {"term":"post_tag","textAlign":"left","prefix":"Tags | "} /-->
</article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
